version: "3.3"

services:
  keepalived:
    image: {{ docker_repository }}/{{ pgdb_s1_keepalived_image }}
    container_name: keepalived
    cap_add:
      - NET_ADMIN
      - NET_BROADCAST
      - NET_RAW
    network_mode: host
    restart: always
    volumes:
      - ./keepalived.conf:/container/service/keepalived/assets/keepalived.conf:ro
    command:
      - "--copy-service"
      - "--loglevel"
      - "debug"
    environment:
      KEEPALIVED_COMMAND_LINE_ARGUMENTS: >-
        --log-detail
        --log-console
