global_defs {
    script_user root
}

vrrp_instance VI_1 {
{% if groups['pgdb_s1'].index(inventory_hostname) % 3 == 0 %}
  state MASTER
  priority 100
{% else %}
  state BACKUP
  priority 98
{% endif %}
  interface {{ keepalived.interface }}
  unicast_src_ip {{ keepalived.interface_address }}
  unicast_peer {
{% for host in pgdb_s1_region_nodes | difference([inventory_hostname]) %}
    {{ hostvars[host].keepalived.interface_address }}
{% endfor%}
  }
  virtual_ipaddress {
    {{ pgdb_s1_keepalived_vip_address }} dev {{ keepalived.interface }}
  }
  virtual_router_id {{ keepalived.virtual_router_id }}
  advert_int {{ keepalived.advert_int }}

  notify "/container/service/keepalived/assets/notify.sh"
}
