scope: {{ pgdb_s1_postgres_scope }}
name: patroni-{{ host_addresses.internal.address }}
restapi:
    listen: {{ host_addresses.internal.address }}:{{ pgdb_s1_postgres_patroni_restapi_port }}
    connect_address: {{ host_addresses.internal.address }}:{{ pgdb_s1_postgres_patroni_restapi_port }}

etcd:
{% for host in pgdb_s1_region_nodes %}
    hosts: {{ hostvars[host].host_addresses.internal.address }}:{{ pgdb_s1_etcd_listen_client_port }}{{ "," if not loop.last else "" }}
{% endfor%}
bootstrap:
{% if pgdb_s1_standby_cluster is defined %}
    dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576
        postgresql:
            use_pg_rewind: true
        standby_cluster:
            host: {{ pgdb_s1_standby_cluster.primary_host_address }} 
            port: {{ pgdb_s1_standby_cluster.primary_port }} 
{% else %}
    dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576
        postgresql:
            use_pg_rewind: true
{% endif %}
    initdb:
    - encoding: UTF8
    - data-checksums

    pg_hba:
    - host replication replicator 127.0.0.1/32 md5
    - host replication replicator 0.0.0.0/0 md5
    - host replication replicator {{ pgdb_s1_postgres_network }} md5
    - host all all 0.0.0.0/0 md5

postgresql:
    listen: {{ host_addresses.internal.address }}:{{ pgdb_s1_postgres_port }}
    connect_address: {{ host_addresses.internal.address }}:{{ pgdb_s1_postgres_port }}
    data_dir: {{ pgdb_s1_postgres_datadir }}/data
    pgpass: {{ pgdb_s1_postgres_datadir }}/pass
    authentication: {{ pgdb_s1_postgres_users }}
    create_replica_methods:
    - basebackup
    parameters:
        unix_socket_directories: {{ pgdb_s1_postgres_datadir }}/unix
        archive_mode: on
        logging_collector: true
        log_directory: {{ pgdb_s1_postgres_datadir }}/logs
        log_filename: postgres.log
        log_rotation_size: 50000
        log_truncate_on_rotation: true
        max_connections: 400
        shared_buffers: 4GB
log:
    level: INFO
    dir: {{ pgdb_s1_postgres_datadir }}/logs
    file_num: 1

tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false
