{% raw %}
{{ $patroni_leader := split (getv "/service/pgdb_s1-postgres/leader") "-" }}
{% endraw %}

global
    maxconn 10000

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s
    balance roundrobin

listen stats
    mode http
    bind *:{{ pgdb_s1_haproxy_listen_port.stats }}
    stats enable
    stats uri /

listen postgres
    bind *:{{ pgdb_s1_haproxy_listen_port.postgres }}
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server {% raw %}pgbouncer_{{ index $patroni_leader 1 }} {{ index $patroni_leader 1 }}{% endraw %}:{{ pgdb_s1_postgres_port }} check inter 2000 fall 5 rise 2

listen postgrespgbouncer
    bind *:{{ pgdb_s1_haproxy_listen_port.pgbouncer }}
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for host in pgdb_s1_region_nodes %}
    server pgbouncer_{{ loop.index }} {{ hostvars[host].host_addresses.internal.address }}:{{ pgdb_s1_pgbouncer_port }} check inter 2000 fall 5 rise 2
{% endfor %}
