ALLOW_NONE_AUTHENTICATION={{ etcd_allow_none_authentication }}
ETCD_NAME={{ hostname }}
ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_initial_advertise_peer_urls }}
ETCD_LISTEN_PEER_URLS={{ etcd_listen_peer_urls }}
ETCD_LISTEN_CLIENT_URLS={{ etcd_listen_client_urls }}
ETCD_ADVERTISE_CLIENT_URLS={{ etcd_advertise_client_urls }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_cluster_token }}
ETCD_INITIAL_CLUSTER={% for host in region_nodes %}{{ hostvars[host].hostname }}=http://{{ hostvars[host].host_addresses.internal.address }}:{{ etcd_listen_peer_port }}{{ "," if not loop.last else "\n" }}{% endfor %}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_initial_cluster_state }}
ETCD_ENABLE_V2={{ etcd_enable_v2 }}
ETCD_DATA_DIR={{ etcd_data_dir }}
