[databases]
{% for pool in pgbouncer_pools %}
{{ pool.name }}=host={{ replica_domain }} port={{ pgbouncer_postgres_port }} dbname={{ pool.dbname }}
{% endfor %}

[pgbouncer]
pool_mode={{ pgbouncer_pool_mode | default('transaction') }}
max_client_conn={{ pgbouncer_max_client_conn | default(1000) }}
listen_port={{ pgbouncer_ro_port | default(6432) }}
listen_addr={{ pgbouncer_listen_addr | default('0.0.0.0') }}
auth_type={{ pgbouncer_auth_type | default('md5') }}
auth_file={{ pgbouncer_auth_file | default('/pgbouncer/users.txt') }}
admin_users={{ pgbouncer_admin_users | default('postgres') }}
default_pool_size={{ pgbouncer_default_pool_size | default(30) }}
