version: "3.3"

services:
  postgres:
    image: "{{ postgres_image }}"
    container_name: postgres
    shm_size: '1gb'
    restart: always
    volumes:
      - {{ postgres_datadir }}:{{ postgres_datadir_container }}
      - ./patroni-config.yml:/var/lib/postgresql/patroni-config.yml
    network_mode: host
#    ports:
#      - "{{ postgres_port }}:{{ postgres_port }}"
#      - "{{ postgres_patroni_port }}:{{ postgres_patroni_port }}"
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - PG_UNIX_DIR={{ postgres_datadir }}
